@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  background: url(./images/bg-pattern-top.svg) top -25rem left -40rem,
    url(./images/bg-pattern-bottom.svg) bottom -25rem right -40rem;
  background-repeat: no-repeat;
  background-color: var(--body-background);
}

* {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  font-family: "Kumbh Sans", sans-serif;
}

:root {
  --body-background: hsl(185, 75%, 39%);
}

.attribution a {
  font-size: 0.6875rem;
}

main {
  background-color: #fff;
}
