@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-dark-cyan: hsl(185, 75%, 39%);
  --color-very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --color-dark-grayish-blue: hsl(227, 10%, 46%);
  --color-dark-gray: hsl(0, 0%, 59%);
  --background-image-images:
    url("/src/assets/bg-pattern-bottom.svg"),
    url("/src/assets/bg-pattern-top.svg");
  --position: bottom -20% right -6000%, top -50% left -5000%;
  --position-md: bottom 200% right -50%, top 200% left -60%;
  --size: 99%;
  --size-md: 70%;
  --background-image-card: url("/src/assets/bg-pattern-card.svg");
  --font-custom: "kumbh sans", sans-serif;
}
